name: Deploy Apigee Proxy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-apigee:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Install Node
      uses: actions/setup-node@v3
      with:
        node-version: "18"

    - name: Install apigeetool
      run: npm install -g apigeetool

    - name: Deploy Proxy to Apigee Edge
      env:
        APIGEE_USER: ${{ secrets.APIGEE_USER }}
        APIGEE_PASS: ${{ secrets.APIGEE_PASS }}
        APIGEE_ORG:  ${{ secrets.APIGEE_ORG }}
        APIGEE_ENV:  ${{ secrets.APIGEE_ENV }}
        PROXY_NAME:  ${{ secrets.PROXY_NAME }}

      run: |
        apigeetool deployproxy \
          -u "$APIGEE_USER" \
          -p "$APIGEE_PASS" \
          -o "$APIGEE_ORG" \
          -e "$APIGEE_ENV" \
          -n "$PROXY_NAME" \
          -d ./apiproxy
